@media only screen and (min-width: 600px) {
  a {
    text-decoration: none;
  }
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover, .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }

  .header {
    background-color: var(--bg-primary);
    margin: 0;
    width: 100%;
    padding: 0;
    position: sticky;
    display: inline-table;
  }

  .header_inner {
    right: 0;
    width: fit-content;
  }

  .main {
    padding: 0;
  }
}