@import 'normalize';
:root {
  //main variables
  --main-bg: ;
  --main-color: ;
  --main-font: 'Teko', sans-serif;
  //logo variables
  --logo-color: ;
  --logo-opacity: ;
  //sidebar variables
  --sidebar-width: 200px;
  --sidebar-height: 100%;
  --sidebar-bg: #f4f4f4;
  --sidebar-opacity: ;
  //main_content variables
  --content-width: 80%;
  --content-height: 100%;
  //header variables
  --header-width: 80%;
  --header-height: 100px;
}


#sidebar {
  width: var(--sidebar-width);
  height: var(--sidebar-height);
  background-color: var(--sidebar-bg);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  .category{
    height: 30%;
    padding: auto;
    align-items: center;
  }
}

#main_content {
  width: var(--content-width);
  height: var(--content-height);
  margin-left: 200px;
  #header {
    width: var(--header-width);
    height: var(--header-height);
  }
}